/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    body {
        position: relative;

        background-size: cover;
        height: 100vh;
        margin: 0;
        padding: 0;
        font-family: 'Kanit', sans-serif;
        overflow: hidden;
        
    }

    /* Add an overlay to darken the background image */
    body::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }



    .nav-links a {
        text-decoration: none; /* Remove underline */
        margin-right: .2rem;
        font-size: .8rem;
        color: white; /* Inherit color from parent */
    }

    .nav-links {
        white-space: nowrap;
        margin-right: .2rem;
    }

    .logo {
        color: white;
        font-size: 1.2rem; /* Adjusted for mobile */
        margin-left: 1rem; /* Adjusted for mobile */
    }

    /* Sign-Up Title Styles */
    .signuptitle {
        font-size: 2.1rem;
        color: white;
        text-align: center;
        margin: 2rem 0; /* Adjust margin as needed */
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        font-family: "League Spartan", sans-serif;
        white-space: nowrap; /* Prevent text from wrapping */
    }

    /* Widget Container Styles */
    .widget-container {
        padding: 4%;
        width: 90%; /* Adjusted for mobile */
        max-width: 300px; /* Adjusted for mobile */
        border-radius: 10px;
        position: absolute;
        top: 45%; /* Adjusted for mobile */
        left: 48.6%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }


    /* Input Styles */
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
        width: 90%;
        padding: 10px;
        margin: 8px 0;
    }

    /* Sign-Up Button Styles */
    .signupbtn {
        font-family: 'Kanit', sans-serif;
        font-size: 14px; /* Adjusted for mobile */
    }

    .signupbtn {
        display: block;
        margin: auto;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 5px 14px;
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        bottom: -10px;
        transition: background-color 0.5s ease;
    }

    button.signupbtn:hover {
        background-color: #574e4e;
    }

    .terms {
        top: 100%; /* Adjusted for mobile */
        left: 50%;
        transform: translateX(-50%);
        color: #ffffff;
        font-size: 80%;
        z-index: 20;
        position: absolute;
        white-space: nowrap; /* Prevent text from wrapping */
    }

    /* Footer Styles */
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: 300px; /* Adjusted for mobile */
        background-color: rgba(0, 0, 0, 0.979);
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 54;
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* Main content wrapper */
    .main-content {
        margin-bottom: 300px; /* Adjusted for mobile */
    }

    .footer p {
        text-align: center;
        width: 100%;
    }

    /* Error Styles */
    #emailError,
    #passwordError,
    #confirmPasswordError,
    #phoneError {
        color: red;
        font-size: 13px;
    }
}
