
@media screen and (max-width: 900px) {
  /* Set styles for the body element when the screen width is 702px or less */

  /* Set styles for the .about element when the screen width is 702px or less */

  body {
    margin: 0;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
    background-position: center;
    background-color: rgb(0, 0, 0);
    background: url('/Images/rodelsa.jpg') center no-repeat;
    font-family: 'Kanit', sans-serif;
  }

  .ourservices {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
    margin-top: 50%;
    background-color: rgba(138, 11, 11, 0.897);
  }

  .Logoimg {
    width: 40vw; /* Fixed width */
    height: auto;
    top: 25%;
    left: 49%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 19;
    margin: 0; /* Remove any existing margins */
  }
  
  .terms {
    font-size: 5vw;
  }

  .hyperlinks h2 {
    font-size: 10vw;
  }



  .hyperlinks {
    transform: translate(13.5vw, 8.5vh);
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 25%;
  }
  
  .moreinfoimg, .moreinfoimg1 {
    width: auto;
    height: 8vw;
    position: fixed;
  }

  .moreinfo img {
    position: absolute;
    bottom: 10vw;
    left: 49%; /* Center horizontally */
    transform: translateX(-49%); /* Center the element */
    z-index: 2;
  }

  


  .Sign-up a,
  .Login a {
    text-decoration: none;
    flex-wrap: nowrap;
    color: black;
    border-radius: 5px;
    display: absolute;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0.5vw 5vw;
    transition: transform 0.5s ease;
  }
  
  .Login a {
    padding: 0.5vw 7vw;
  }



  /* Set styles for the .abouth1::after pseudo-element when the screen width is 702px or less */
  .abouth1::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 25%;
    text-align: center;
    width: 100%;
    border-bottom: 2vw solid!important;
  }


  .imgsection2{
    width: auto;
    height: 30vw;
    top: 10%;
    right: 5%;
    position: absolute;
    overflow: hidden;
    display: none;
  }

  .section1, .section2, .section3{
    width: 95%!important;
    align-items: center!important;
    font-size: 2px;
    position: relative;
    text-align: justify;
    display: inline-block;
    left: 2%!important;
  }

  .section1 {
    border-bottom: 0.2vw solid;
  }

  .section2 {
    width: 150%;
    border-bottom: 0.2vw solid;
  }

  .section1 h2,
  .section2 h2,
  .section3 h2 {
    font-size: 5.3vw!important;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;
    
  }
  
  .section1 p,
  .section2 p,
  .section3 p {
    font-size: 4vw!important;
    position: relative;
    padding-top: 1vw;
    text-align: center;
    
  }
  
  .abouth1 {
    font-size: 10vw!important;
  }

  

  
}

