/* Body Styles */
body {
    margin: 0;
    height: 100%;
    font-family: 'Kanit', sans-serif;
    background-position: center;
    background: url('/Images/rodelsa.jpg') no-repeat;
    -webkit-background-size: cover;
    cursor: default;
    background-color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;

}


body::after{
    content: ""; /* Add content for pseudo-element */
    position: absolute; /* Position the pseudo-element */
    width: 100%; /* Full width */
    height: 100%; /* Half height */
    transform-style: preserve-3d;
    background-color: rgba(0, 0, 0, 0.863); /* Background color with transparency */
}



header{
    display: flex;
    width: 100%;
    top: 0;
    height: 60px; /* Adjusted for mobile */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 90;
}

      
.nav-links a {
    text-decoration: none; /* Remove underline */
    margin-right: 10px; /* Adjusted for mobile */
    color: white; /* Inherit color from parent */
}

.a2:hover {
    color: #0099ff;
}

.nav-links {
    white-space: nowrap;
    margin-right: 1%;
    font-size: 18px;
}

.CoFollow {
    position: fixed; /* Add position property */
    width: 100%;
    height: 100%;   
    transform-style: preserve-3d;
    z-index: 1;
}

.logo {
    color: white;
    font-size: 25px; /* Adjusted for mobile */
    position: relative;
    margin-left: 30px; /* Adjusted for mobile */
    white-space: nowrap;
}


.Logoimg {
    width: 30vw; /* Adjusted for responsiveness */
    top: 25vh;
    position: absolute;
    left: 15vw;
    z-index: 19;
}


.moreinfo {
    opacity: 0; /* Initially hide the element */
    transition: opacity 1s ease-in-out; /* Apply transition for opacity change */
}
  
.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}


.moreinfo  img{
    top: 92%;
    width: auto;
    height: 5%;
    color: white;
    font-size: 2vw; /* Adjust font size */
    align-items: center;
    position: fixed;
    left: 45vw;
    transform: translateX(50%);
    z-index: 99;
    padding: 4px;
    background-color: rgb(172, 92, 92);
    border-radius: 50%;
    cursor: pointer; /* Change cursor to pointer */
}

.moreinfo img:hover {
    background-color: rgb(202, 145, 23)!important;
}
  
.Logoimg {
    width: 30vw; /* Adjusted for responsiveness */
    top: 25vh;
    position: absolute;
    left: 15vw;
    z-index: 19;
}
  
  
/* Terms Styles */
.terms {
    font-size: 1.7vw;
    color: #ffffff;
    z-index: 20;
    position: relative;
    margin-left: 2.5vw;
    top: 6vh;
}
  
.terms h3 {
    display: none;
    font-size: 2.5vw;
}
  
.hyperlinks {
    top: 20vh;
    position: absolute;
    right: 15vw;
    font-size: 1.7vw;
    list-style: none;
    position: absolute;
    text-align: center;
    z-index: 20;

}

.more {
    max-height: 10vh; /* Reduced max-height for thin viewports */
}

  
.hyperlinks h2 {
    font-size: 5vw;
    margin-left: 2.3vw;
    color: white;
    flex-wrap: nowrap;
}
  
.Login,
.Sign-up {
    display: inline-block;
    margin-left: 2vw;
}   

.Sign-up a,
.Login a {
    text-decoration: none;
    flex-wrap: nowrap;
    color: black;
    border-radius: 0.5vw;
    display: absolute;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0.5vw 5vw;
    transition: transform 0.5s ease;
}

.Sign-up a:hover,
.Login a:hover {
  background-color:wheat; /* Change the background color on hover */
  transform: translateY(-2px); /* Add a slight downward translation on hover */
}

.Login a {
    padding: 0.5vw 5.4vw;
}

.Sign-up:hover a,
.Login:hover a {
    transform: translateY(-0.5vw);
}

.Sign-up:not(:hover) a,
.Login:not(:hover) a {
    transform: translateY(0);
}


